<div>
  <script type="text/javascript">
    (function () {

      function ViewModel() {
        this.name = 'I am a templated viewModel';
        this.items = [{id: 0, name: "John Doe"}, {id: 1, name: "Jane Doe"}];
      }

      oig.bind('template').to(ViewModel).asNew();

    }())
  </script>
  <oig-context view-model="template">
    <script>
      Object.defineProperty(oig.templateEngines, 'handlebars', {
        configurable: true,
        get: function () {
          return {
            compile: function (template, dataContext) {
              return Handlebars.compile(template)(dataContext);
            }
          }
        }
      });
    </script>
    <button class="btn btn-default">
      <oig-listener onclick="items.push({id: Date.now(), name: 'Item_' + (items.length+1)})"></oig-listener>
      <span>Add a new Entry</span>
    </button>
    <div class="alert alert-info">
      <div is="oig-template">
        <template>
          <h4>Using default templating</h4>
          <dl class="dl-horizontal">
            <% for(var i = 0, ii = items.length; i < ii; i++) { %>
            <dt><%=items[i].id%></dt>
            <dd><%=items[i].name%></dd>
            <% } %>
          </dl>
        </template>
      </div>
      <div is="oig-template" data-oig-templateengine="handlebars">
        <template>
          <h4>Using handlebars templating</h4>

          <div>{{name}}</div>
          <dl class="dl-horizontal">
            {{#each items}}
            <dt>{{id}}</dt>
            <dd>{{name}}</dd>
            {{/each}}
          </dl>
        </template>
      </div>
    </div>
  </oig-context>
</div>
