<div xmlns="http://www.w3.org/1999/xhtml">
  <script type="text/javascript">
    (function () {

      function ViewModel() {
        this.flag = true;
      }

      ViewModel.prototype.toggle = function () {
        this.flag = !this.flag;
      }
      oig.bind('ifBinding').to(ViewModel).asNew();

    }());
  </script>
  <div is="oig-context" data-view-model="ifBinding">
    <div class="alert alert-info">
      <p>
        <oig-if test="flag">
          <template>I am displayed because the flag is
            <oig-binding>flag</oig-binding>
          </template>
        </oig-if>
        <oig-if test="!flag">
          <template>......and I am displayed because the flag is
            <oig-binding>flag</oig-binding>
          </template>
        </oig-if>
      </p>
    </div>
    <p>
      <button class="btn btn-default">Toggle
        <oig-listener onclick="toggle()"/>
      </button>
    </p>
  </div>
</div>
