<div xmlns="http://www.w3.org/1999/xhtml">
    <p>include some svg</p>
    <oig-include href="partials/include/star.svg" parse="xml"></oig-include>
    <div>Include the h1 element from this document by ommitting href but using xpointer '//h1',
    The first h1 element is: <oig-include xpointer="//h1"></oig-include></div>
  <p>Fallback displayed when eg href returns 404</p>
  <oig-include href="partials/include/404">
    <template>
      <div class="alert alert-danger">I am displayed as fallback element</div>
    </template>
  </oig-include>

</div>
