<div>
  <script type="text/javascript">
    (function () {
      function ViewModel() {
        this.color = '#000';
        this.name = 'Daffy Duck';
      }

      oig.bind('twoWayBinding').to(ViewModel).asNew();
    }());
  </script>
  <div is="oig-context" data-view-model="twoWayBinding">
    <div class="form-group">
      <oig-listener onchange="color = event.target.value"></oig-listener>
      <label>Change text color</label>
      <input class="form-control" type="color"/>

      <div>I am bound only once!!! color:
        <oig-binding once>color</oig-binding>
      </div>
      <div>I am bound forever!!! color:
        <oig-binding>color</oig-binding>
      </div>

    </div>
    <div class="form-group">
      <oig-listener oninput="name = event.target.value"></oig-listener>
      <label for="twowaymanual-input">Change name</label>
      <input class="form-control" type="text" id="twowaymanual-input"/>
      <oig-binding value="name" data-oig-target="previousSibling"></oig-binding>
        <span>
          Result: <oig-binding style="'color:' + color">name</oig-binding>
        </span>
    </div>
  </div>
</div>
