<div>
  <script type="text/javascript">
    (function () {

      function ViewModel() {
        this.width = 200;
        this.img = 'assets/images/daffyduck.png';
      }

      oig.bind('twoWayNextSiblingBinding').to(ViewModel).asNew();
    }())
  </script>
  <oig-context view-model="twoWayNextSiblingBinding">
    <oig-listener oninput="width = event.target.value"/>
    <!-- image -->
    <div style="position:relative;height:220px;width:220px;">
      <oig-binding src="img" data-oig-target="nextSibling" width="width"></oig-binding>
      <img border="0"/>
    </div>
    <div class="form-group">
      <label for="input-size">change size</label>
      <oig-binding value="width" data-oig-target="nextSibling"></oig-binding>
      <input id="input-size" class="form-control" type="range" min="50" max="200"/>
    </div>
  </oig-context>
</div>
