<div xmlns="http://www.w3.org/1999/xhtml">
  <script>
    /** @jsx React.DOM */

    (function () {


      'use strict';

      var OIGC = React.createClass({
        displayName: 'OIGC',
        /**
         * @method render
         * @return {XML}
         */
        render: function render() {
          return (React.createElement("div", null, "React says: Clicked ", this.state ? this.state.count : 0, " times!!!"));
        }
      });

      window.OIGC = OIGC;
    })();

  </script>
  <script type="text/javascript">
    (function () {

      function ViewModel() {
        this.count = 0;
      }

      ViewModel.prototype = {
        increment: function () {
          this.count++;
        }
      }
      oig.bind('reactBinding').to(ViewModel).asNew();
    }())
  </script>
  <p>
    JSX Components will be rerendered when dataContext/viewModel changes
  </p>

  <div is="oig-context" data-view-model="reactBinding">
    <oig-react component="OIGC"></oig-react>
    <button>
      <oig-listener onclick="increment()"></oig-listener>
      <span>Increment!!!</span>
    </button>
  </div>
</div>
</div>
