<div>
  <script type="text/javascript">
    (function () {

      /**
       * Service
       * @constructor
       * @param {OigEventBus} eventBus
       */
      function Service(oigEventBus, interval, message) {
        //# inject: args:(oigEventBus, interval, message)
        this.eventBus = oigEventBus;
        this.message = message;

        setInterval(function () {
          oigEventBus.trigger('random', Math.random() * Date.now());
        }, interval)

      }

      Service.prototype.getTime = function () {
        return Date.now();
      };

      /**
       * ViewModel
       * @param diService
       * @param eventBus
       * @constructor
       */
      function ViewModel(diService, oigEventBus, interval) {
        //# inject: args:(diService, oigEventBus, interval)
        this.message = diService.message;
        this.random = null;
        this.time = null;
        this.interval = interval;
        this.diService = diService;
        this.eventBus = oigEventBus;
      }

      ViewModel.prototype.onload = function () {
        setInterval(function () {
          this.time = this.diService.getTime();
        }.bind(this), this.constant);
        this.eventBus.register('random', this.handleRandomEvent.bind(this));
      };

      ViewModel.prototype.handleRandomEvent = function (eventDetails) {
        this.random = eventDetails;
      };

      // bind the diContext
      oig.bind('diService').to(Service);
      oig.bind('interval').to(500).asConstant();
      oig.bind('message').to('Hello world!').asValue();
      oig.bind('di').to(ViewModel).asNew();

    }())
  </script>
  <oig-context class="form-group" view-model="di">
    The service says: <span><oig-binding>message</oig-binding> <oig-binding>time</oig-binding></span>
    <br>Random:
    <oig-binding>random</oig-binding>
  </oig-context>
</div>
